<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harry" >
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--this IntentFilter is not working as this is system intent action which needs to be declared in java-->
        <!--<receiver-->
            <!--android:enabled="true"-->
            <!--android:exported="true"-->
            <!--android:name="com.harry.MyReceiver3">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BATTERY_LOW"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--One thing to be noticed that BR works for registered IntentFilters in Manifest file -->
        <!--only for that case where IntentFilter is customized and not from system-->
        <!--if we wanna use system Action Intents in IntentFilters then register BR with that IntentFilter-->
        <!--in the java code dynamically-->
        <receiver android:name="MyReceiver3" >
            <intent-filter>
                <action android:name="com.test.training" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
